@{
    ViewData["Title"] = "Contact";
}
<div class="mdl-grid">
  <div class="mdl-cell--12-col">
    <h2 class="mdl-typography--display-1">@ViewData["Title"].</h2>
    <h3 class="mdl-typography--headline">@ViewData["Message"]</h3>

    <address class="mdl-typography--body-1">
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address class="mdl-typography--body-1">
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>

  </div>
</div>
