@{
    ViewData["Title"] = "Home Page";
}

<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background: #59B4D9; height: 241px;">
      <h2 class="mdl-card__title-text mdl-color-text--white">ASP.NET Core</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Learn how to build ASP.NET apps that can run anywhere.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-js-button mdl-button--primary" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
        Learn More
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button">
        <i class="material-icons mdl-color-text--white">share</i>
      </button>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background: #68217A; height: 241px;">
      <h2 class="mdl-card__title-text mdl-color-text--white">Visual Studio</h2>
    </div>
    <div class="mdl-card__supporting-text">
      There are powerful new features in Visual Studio for building modern web apps.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-js-button mdl-button--primary" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
        Learn More
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button">
        <i class="material-icons mdl-color-text--white">share</i>
      </button>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background: #7FBA00; height: 241px;">
      <h2 class="mdl-card__title-text mdl-color-text--white">Packages</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-js-button mdl-button--primary" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
        Learn More
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button">
        <i class="material-icons mdl-color-text--white">share</i>
      </button>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background: #1D4380; height: 241px">
      <h2 class="mdl-card__title-text mdl-color-text--white">Microsoft Azure</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-js-button mdl-button--primary" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
        Learn More
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button">
        <i class="material-icons mdl-color-text--white">share</i>
      </button>
    </div>
  </div>

</div>

<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--3-col">
    <h2 class="mdl-typography--headline">Application uses</h2>
    <ul>
        <li>Sample pages using ASP.NET MVC 6</li>
        <li><a href="http://go.microsoft.com/fwlink/?LinkId=518007">Gulp</a> and <a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
        <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
    </ul>
  </div>
  <div class="mdl-cell mdl-cell--3-col">
      <h2 class="mdl-typography--headline">How to</h2>
      <ul>
          <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
          <li><a href="http://go.microsoft.com/fwlink/?LinkID=699314">Add an appsetting in config and access it in app.</a></li>
          <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
          <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
          <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
          <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
          <li><a href="http://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
      </ul>
  </div>
  <div class="mdl-cell mdl-cell--3-col">
      <h2 class="mdl-typography--headline">Overview</h2>
      <ul>
          <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET 5</a></li>
          <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET 5 such as Startup and middleware.</a></li>
          <li><a href="http://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
          <li><a href="http://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
          <li><a href="http://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
          <li><a href="http://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
          <li><a href="http://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
      </ul>
  </div>
  <div class="mdl-cell mdl-cell--3-col">
        <h2 class="mdl-typography--headline">Run & Deploy</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517852">Run your app on .NET Core</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Run commands in your project.json</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>
