/* MDL templates font family */

html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

/* MDL does not have max width for desktop */

.page-content {
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
}

/* the links in default MDL template/theme override */

a {
    color: rgb(63, 81, 181);
}

/* extension to add error color to default MDL theme */

.mdl-color-text--error {
    color: rgb(222, 50, 38);
}

/* give a background color to drawer title */

.mdl-layout__drawer .mdl-layout-title {
    background: rgb(63, 81, 181);
    padding-left: 24px;
}

/* auto resize text in cards to take all vertical space */

.mdl-card--home > .mdl-card__title,
.mdl-card--home > .mdl-card__supporting-text,
.mdl-card--home > .mdl-card__actions,
.mdl-card--home > .mdl-card__actions > .mdl-button {
    color: rgb(255, 255, 255);
}

.mdl-card--home > .mdl-card__title {
    align-self: flex-start;
    flex-grow: 1;
}

.mdl-card--home .mdl-card__title-text {
    align-self: flex-start;
}

.mdl-card--home .mdl-card--border {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.mdl-card--home .mdl-card__supporting-text {
    align-self: flex-start;
}

/* MDL button in navigation should be just like link */
.mdl-navigation .mdl-button {
    text-transform: none;
    font-weight: normal;
}
.mdl-layout__header .mdl-button {
    color: rgb(255, 255, 255);
    opacity: .87;
}
.mdl-layout__drawer .mdl-button {
    padding: 16px 40px;
    line-height: 24px;
    height: auto;
    color: rgb(117, 117, 117);
    font-weight: normal;
    text-align: left;
}
@media screen and (max-width: 1024px) {
    .mdl-layout__drawer .mdl-button {
        padding: 16px;
    }
}
/* a navigation form in a drawer */
.mdl-layout__drawer form.mdl-navigation {
    padding-top: 0;
}
/* a navigation in a drawer cannot be multiline */
.mdl-layout__drawer .mdl-navigation__link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
