@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" class="mdl-navigation">
        <a asp-controller="Manage" asp-action="Index" title="Manage" class="mdl-navigation__link">Hello @User.GetUserName()!</a>
        <button type="submit" class="mdl-button mdl-js-button">Log off</button>
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Register" class="mdl-navigation__link">Register</a>
    <a asp-controller="Account" asp-action="Login" class="mdl-navigation__link">Log in</a>
}
