@{
    ViewData["Title"] = "Error";
}

<div class="mdl-grid">
  <div class="mdl-cell--12-col">
    <h1 class="mdl-typography--display-1 mdl-color-text--error">Error.</h1>
    <h2 class="mdl-typography--headline mdl-color-text--error">An error occurred while processing your request.</h2>
  </div>
</div>
