@model VerifyPhoneNumberViewModel
@{
    ViewData["Title"] = "Verify Phone Number";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--display-1">@ViewData["Title"]</h2>
    </div>
    <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--8-col-tablet">
        <div class="mdl-card mdl-shadow--6dp">
            <form asp-controller="Manage" asp-action="VerifyPhoneNumber" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                <fieldset>
                    <input asp-for="PhoneNumber" type="hidden" />
                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                        <strong>Add a phone number</strong>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>@ViewData["Status"]</p>
                        <div asp-validation-summary="ValidationSummary.All" class="mdl-color-text--error"></div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input asp-for="Code" class="mdl-textfield__input">
                            <label asp-for="Code" class="mdl-textfield__label"></label>
                            <span asp-validation-for="Code" class="mdl-textfield__error" />
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                         <button type="submit" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
