@{
    ViewData["Title"] = "Confirm Email";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--display-1">@ViewData["Title"].</h2>
        <p>
            Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
        </p>
    </div>
</div>
