@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--display-1">@ViewData["Title"].</h2>
        <p class="mdl-typography--heading">
            Please check your email to reset your password.
        </p>
    </div>
</div>
