@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--display-1">@ViewData["Title"]</h2>
        <p>
            For more information on how to enable reset password please see this <a href="http://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
        </p>
    </div>

    <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--8-col-tablet">
        <div class="mdl-card mdl-shadow--6dp">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
                <fieldset>
                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                        <strong>Enter your email.</strong>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div asp-validation-summary="ValidationSummary.All" class="mdl-color-text--error"></div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input asp-for="Email" class="mdl-textfield__input">
                            <label asp-for="Email" class="mdl-textfield__label"></label>
                            <span asp-validation-for="Email" class="mdl-textfield__error" />
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button type="submit" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
