@{
    ViewData["Title"] = "Locked out";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--display-1 mdl-color-text--error">Locked out.</h2>
        <h3 class="mdl-typography--headline mdl-color-text--error">This account has been locked out, please try again later.</h3>
    </div>
</div>
