@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--display-1">@ViewData["Title"].</h2>
    </div>
    <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--8-col-tablet">
        <div class="mdl-card mdl-shadow--6dp">
            <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
                <fieldset>
                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                        <strong>Create a new account.</strong>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div asp-validation-summary="ValidationSummary.All" class="mdl-color-text--error"></div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input asp-for="Email" class="mdl-textfield__input">
                            <label asp-for="Email" class="mdl-textfield__label"></label>
                            <span asp-validation-for="Email" class="mdl-textfield__error" />
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input asp-for="Password" class="mdl-textfield__input"/>
                            <label asp-for="Password" class="mdl-textfield__label"></label>
                            <span asp-validation-for="Password" class="mdl-textfield__error" />
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input asp-for="ConfirmPassword" class="mdl-textfield__input"/>
                            <label asp-for="ConfirmPassword" class="mdl-textfield__label"></label>
                            <span asp-validation-for="ConfirmPassword" class="mdl-textfield__error" />
                        </div>        
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button type="submit" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--primary">Register</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
