@model VerifyCodeViewModel
@{
    ViewData["Title"] = "Verify";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--display-1">@ViewData["Title"]</h2>
    </div>
    <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--8-col-tablet">
        <div class="mdl-card mdl-shadow--6dp">
            <form asp-controller="Account" asp-action="VerifyCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                <input asp-for="Provider" type="hidden" />
                <input asp-for="RememberMe" type="hidden" />
                <fieldset>
                    <div class="mdl-card__supporting-text">
                        <div asp-validation-summary="ValidationSummary.All" class="mdl-color-text--error"></div>
                        <p>@ViewData["Status"]</p>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input asp-for="Code" class="mdl-textfield__input">
                            <label asp-for="Code" class="mdl-textfield__label"></label>
                            <span asp-validation-for="Code" class="mdl-textfield__error" />
                        </div>
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" asp-for="RememberBrowser">
                            <input asp-for="RememberBrowser" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">@Html.DisplayNameFor(m => m.RememberBrowser)</span>
                        </label>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button type="submit" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
